extends layout

block content
   h1= title
   #nav
      ul
         li
            a(href='/') Home
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions
   #foodPic
      img#food(src='https://mixmatchburger.com/wp-content/uploads/2017/07/mix-match-burger-sides-retouched.jpg')
      p Check out our #{name}!
   #menu
      .menuItem
         img.burgerMenu(src='#')
         h3= burgerOne
         p= descOne
      .menuItem
         img.burgerMenu(src='#')
         h3= burgerTwo
         p= descTwo
      .menuItem
         img.burgerMenu(src='#')
         h3= burgerThree
         p= descThree
      .menuItem
         img.burgerMenu(src='#')
         h3= burgerFour
         p= descFour
      .menuItem
         img.burgerMenu(src='#')
         h3= burgerFive
         p= descFive
      .menuItem
         img.burgerMenu(src='#')
         h3= burgerSix
         p= descSix
