extends layout

block content
   h1= title
   #nav
      ul
         li
            a(href='/') Home
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions
   #foodPic
      img#food(src='#')
      p Here's our delicious #{name}!
   #menu
      img.dessertMenu(src='#')
      h3= dessertOne
      p= descOne

      img.dessertMenu(src='#')
      h3= dessertTwo
      p= descTwo

      img.dessertMenu(src='#')
      h3= dessertThree
      p= descThree

      img.dessertMenu(src='#')
      h3= dessertFour
      p= descFour

      img.dessertMenu(src='#')
      h3= dessertFive
      p= descFive