extends layout

block content
   h1= title
   #nav
      ul
         li
            a(href='/') Home
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions
   #foodPic
      img#food(src='https://mixmatchburger.com/wp-content/uploads/2017/07/mix-match-burger-sides-retouched.jpg')
   #about
      #aboutUs
         h2= aboutTitle
         p= aboutBody
      img#storeFront(src='https://i.pinimg.com/originals/08/47/03/08470346e3644a65c21c93fb33da4140.jpg')
      <!--The block below is practice for an each statement... needs lots of work-->
   #practice
         .menuItem
            each val, key in {
                  burgerOne: {
                     title: 'Hello',
                     img: 'https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F201201-xl-nacho-burger.jpg%3Fitok%3DpoaTDSGH'
                  },
                  burgerTwo: {
                     title: 'did this work',
                     img: 'https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F201201-xl-nacho-burger.jpg%3Fitok%3DpoaTDSGH'
                  }
               }
               img.burgerMenu(src=val.img)
               h3= key
               p= val.title
