extends layout

block content
   h1= title
   #nav
      ul
         li
            a(href='/') Home
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions
   #foodPic
      img#food(src='#')
      p Look at our sweet #{title}!
   #menu
      .menuItem
         img.sideMenu(src='#')
         h3= sideOne
         p= descOne
      .menuItem
         img.sideMenu(src='#')
         h3= sideTwo
         p= descTwo
      .menuItem
         img.sideMenu(src='#')
         h3= sideThree
         p= descThree
      .menuItem
         img.sideMenu(src='#')
         h3= sideFour
         p= descFour
      .menuItem
         img.sideMenu(src='#')
         h3= sideFive
         p= descFive
      .menuItem
         img.sideMenu(src='#')
         h3= sideSix
         p= descSix