extends layout

block content
  h1= title
  img#logo(src='#logo')
  p Welcome to #{title}
  ul#nav
   li
      a(href='/') Home
   li
      a(href='/burgers') Burgers
   li
      a(href='/sides') Sides
   li
      a(href='/desserts') Desserts
   li
      a(href='/directions') Directions
  img#food(src='#')
  br
  img.sideMenu(src='#')
  h3= sideOne
  p= descOne

  img.sideMenu(src='#')
  h3= sideTwo
  p= descTwo

  img.sideMenu(src='#')
  h3= sideThree
  p= descThree

  img.sideMenu(src='#')
  h3= sideFour
  p= descFour

  img.sideMenu(src='#')
  h3= sideFive
  p= descFive